.content-with-sidebar {
  display: flex;
  justify-content: space-between;
}

.main-content {
  width: 75%;
}

.sidebar {
  width: 25%;
  margin-left: 5%;
  padding: 10px;
  box-shadow: 1px 2px 5px rgba(0,0,0,0.2);
  min-height: 0;
  height: 20em;
  background-color: #FAFAFA;
}

@media (max-width: 768px) {
  .content-with-sidebar {
    flex-direction: column;
  }

  .main-content, .sidebar {
    width: 100%;
    margin-left: 0;
    height: auto;
  }

  .main-content {
    width: 100%;
    margin-left: 0;
    height: auto;
  }

  .sidebar {
    width: 100%;
    margin-left: 0;
    height: auto;
  }
}

.sidebar ul li {
    margin-bottom: 1em;
}

.sidebar a {
  color: #404040;
  text-decoration: none;
}

.sidebar a:hover {
  color: #0085A1;
}

.sponsors-section {
    padding: 40px 0;
    text-align: center; /* Center the title */
}

.sponsors-section hr {
    margin-bottom: 40px;
}

.sponsors-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.sponsors-content {
    padding: 40px 20px; /* Adjust padding as needed, keeping it symmetrical */
    margin: auto;
    max-width: 1200px; /* This constrains the content width, not the background */
 }

.sponsors-title {
    margin-bottom: 0px;
    color: #333;
}

.sponsor {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sponsor img {
    max-width: 200px;
    max-height: 200px;
}

.small-text-under-btn {
    padding-top: 0;
    font-size: 11px;
    text-align: center;
    margin-top: 0;
    width: fit-content;
}

.btn-with-text-below {
    margin-bottom: 5px;
}
