---
layout: default
---

<div class="content-with-sidebar">
  <div class="main-content">

  {{ content }}

  </div>

  <div class="sidebar">
    <h3><a href="news/">Latest News</a></h3>
    <ul>
      {% for post in site.posts limit:3 %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="sponsors-section">
  <h2 class="sponsors-title">Backed by</h2>
  <hr/>

    <div class="sponsors-grid">
    {% for sponsor in site.data.sponsors %}
    <div class="sponsor">
        <a href="{{ sponsor.url }}" target="_blank">
        <img src="{{ sponsor.logo }}" alt="{{ sponsor.name }}" title="{{ sponsor.name }}">
        </a>
    </div>
    {% endfor %}
    </div>
</div>
